<div class="header-container">
  <span class="title">Heading...</span>
</div>
<kendo-drawer-container
  style="display: flex; flex: 1 1 auto"
  [ngClass]="{ 'overlay-offset': !isPinned }">
  <kendo-drawer
    #drawer
    [items]="items"
    [mode]="mode"
    [mini]="mini"
    (select)="onSelect($event)"
    [autoCollapse]="!isPinned"
    [(expanded)]="expanded">
    <ng-template kendoDrawerHeaderTemplate>
      <div
        class="menu-toggle"
        [ngClass]="{ 
          'menu-toggle-center': !expanded, 
          'menu-toggle-left': expanded 
        }">
        <button
          *ngIf="!isPinned"
          kendoButton
          icon="menu"
          look="flat"
          styles="font-size: 24px;"
          (click)="toggleDrawer(drawer)">
        </button>
        <div
          *ngIf="expanded"
          [ngStyle]="{ 'margin-left: 30px': isPinned }"
          class="menu-expander-pin">
          <div
            class="icon-wrapper"
            [ngClass]="{'menu-is-pinned' : isPinned}">
            <button
              kendoButton
              iconClass="k-icon k-i-pin"
              look="flat"
              (click)="pinMenu()">
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="isPinned" style="width: 100%">
        <select></select>
      </div>
    </ng-template>
  </kendo-drawer>
  <kendo-drawer-content [ngStyle]="{'padding-left': !isPinned ? '50px' : '0'}">
    <router-outlet *ngIf="!loading"></router-outlet>
    <div *ngIf="loading" class="loading-wrapper">
      <div class="loading">
        <span class="loading-icon k-i-loading"></span>
      </div>
    </div>
  </kendo-drawer-content>
</kendo-drawer-container>