@import '@progress/kendo-theme-default/dist/all.scss';
@import './vars.scss';
@import './kendo/kendo-overrides.scss';


* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size; 
  background: $content-bg-color;
}

router-outlet+* {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}
