@import '../../assets/scss/common.scss';

$bg-color-1: #CCC;
$bg-color-2: #888;

sandbox-window {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 10px 20px;
  height: calc(100% - 20px);
  border: $subtle-border;
  border-radius: 7px;
  border-top: none;
  background-color: #333333;

  .sandbox-subject {
    margin: auto;
    background-color: #222;
    border-radius: 8px;
    padding: 3px;
    height: max-content;

    .display-port {

      background-color:$bg-color-1;
      border-radius: 5px;
      background-image:
        linear-gradient(45deg, $bg-color-2 25%, transparent 25%),
        linear-gradient(-45deg, $bg-color-2 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, $bg-color-2 75%),
        linear-gradient(-45deg, transparent 75%, $bg-color-2 75%);
      background-position:
        0 0,
        0 10px,
        10px -10px,
        -10px 0px;
      background-size: 20px 20px;

      .sandbox-item {
        padding: 50px;
      }

    }
  }
}